.perspective-card {
  perspective: 600px;
  position: relative;
  touch-action: none;
  transform-style: preserve-3d;
}

.perspective-card__shine {
  border-bottom-left-radius: 4.25% 3%;
  border-bottom-right-radius: 4.25% 3%;
  border-top-left-radius: 4.35% 3%;
  border-top-right-radius: 4.25% 3%;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  transform: translateZ(.5px);
  width: 100%;
}

.perspective-card__artwork {
  backface-visibility: hidden;
  box-shadow: 5px 5px 0px rgba(0,0,0,.0);
  transition: .5s linear box-shadow;

  img {
    display: block;
    width: 100%;
  }
}

.perspective-card__artwork--back {
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  width: 100%;
}

.perspective-card__artwork--front {
  position: relative;
}

.perspective-card__transformer {
  position: relative;
  transform-style: preserve-3d;
}

.perspective-card--over {
  .perspective-card__artwork {
    box-shadow: 5px 5px 20px rgba(0,0,0,.4);
  }
}

.perspective-card--matte {
  background-color: rgba(0,0,0,.5);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity .5s linear;
  width: 100vw;
  z-index: 1000;
}

.perspective-card--matte.perspective-card--modal {
  opacity: 1;
  pointer-events: all;
}

.perspective-card.perspective-card--modal {
  z-index: 1001;
}
